

body {
    background-color: black;
    color: white;
    
}






  section,h1 {
    padding: 0 1em;
    color: white;
  }
  
  .albumgrid
   {
    display: grid;
    grid-template-columns: repeat(3,150px);  /* 3 columns */
    grid-template-rows: repeat(3,150px); /* 3 rows  */
    grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  }
  
  .grid-disc{
    border:thin gray solid;
    padding:10px;
  }
  img {
    width: 100%;
  }


  table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;

  }
  
  td, th {
    border: 10px solid #dddddd;
    text-align: center;
    color: white;
    padding: 18px;
    gap: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.nav-bar {
    display: grid;
    grid-template-columns: 40% auto ;
    padding: 10px;
    font-size: 25px;
    }
    
.logo {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: "horroroid", sans-serif;
    }



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "horroroid", sans-serif;
    display: grid;
    grid-template-columns: auto auto; 
    }

.social-media {
    display: grid;
    grid-template-columns:  50px 50px 50px 50px;
    align-items: center;
    justify-content: right;
    }   

.desc {
    color: whiite;

}


.sm {
    width: 20px;
    grid-gap: 10px;
    }

.newsletter {
    right: 0;
    width: 50%;
    float: left;
    margin: 10px;
    font-size: 20px;
    }      


