

body {
    background-color: black;
}

.nav-bar {
    display: grid;
    grid-template-columns: 40% auto ;
    padding: 10px;
    font-size: 25px;
    }
    
.logo {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: "horroroid", sans-serif;
    }

.grid-about {
    justify-content: center;
    display: grid;
    grid-template-columns: 40% 40%
    }   

.band-text {
    font-family: "horroroid", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}    
ul {

    
}

li  {

    font-family: "horroroid", sans-serif;
    color: white;
    list-style-type: none;
    margin-right: 15px;
    float: left;
}



.nav {
    color:white;
    text-decoration: none;
    border: solid 1px;
    padding: 10px 40px 10px 40px;

}

a:hover {
    color: grey;
}

li:hover {
    color: grey;
}
}
/*  .h1 {
    font-size: 35px;
    font-family: "horroroid", sans-serif;
    }

.h2 {
    text-align: center
    font-family: "horroroid", sans-serif;
    } */

    

.merch-title {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    font-family: "horroroid", sans-serif;
    color: white; 
    font-size: 50px;
    }

 
.grid-merch {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    }  

* {
    box-sizing: border-box;
}
.merch-photo {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    }

.box {
    width:200px;

}


.store-button {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    font-family: "horroroid", sans-serif;
    color: white; 
    font-size: 30px;
    }
    
    
    /*
.event-title {
    font-family: "horroroid", sans-serif;
    font-color: black; 
    }
    
.event-time {
    font-family: "horroroid", sans-serif;
    font-color: black; 
    }  
    
.event-place {
    font-family: "horroroid", sans-serif;
    font-color: black; 
    }      

    */

.events {
    display: flex;
    height:100vh;
    background-image: url("background.jpg");
    justify-content: center;
    align-items: center;
    }
  
.grid-event {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: "horroroid", sans-serif;
    text-align: center;
    }

.tickets {
    color: white;
}    


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "horroroid", sans-serif;
    display: grid;
    grid-template-columns: auto auto; 
    }

.social-media {
    
    display: grid;
    grid-template-columns:  50px 50px 50px 50px;
    align-items: center;
    justify-content: right;
    color:
    }   
.sm {

    width: 20px;
}
.newsletter {
    right: 0;
    width: 50%;
    float: left;
    margin: 10px;
    font-size: 20px;
}    
  
 .grid2 {
    font-size: 40px;
    color: white;
    }  

