

body {
    
    background-color: black;
    color: white;
    
   }

.grid-container {
    display: grid;
    grid-template-columns: 40% auto auto auto auto;
    
    padding: 10px;
    }
    .grid-item {
    
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        font-family: sans-serif;
        display: grid;
        grid-template-columns: auto auto; 
        }
    
    .social-media {
        display: grid;
        grid-template-columns:  50px 50px 50px 50px;
        align-items: center;
        justify-content: right;
        } 
    
    .sm {
    
        width: 20px;
    }
    .newsletter {
        right: 0;
        width: 50%;
        float: left;
        margin: 10px;
        font-size: 20px;
    }    
      
     .grid2 {
        font-size: 40px;
        color: white;
        }  
    
    
