

body {
    
    background-color: black;
    color: white;
    
   }

.grid-container {
    display: grid;
    grid-template-columns: 40% auto auto auto auto;
    
    padding: 10px;
    }
    .grid-item {
    
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
    }
 
    .events {
        display: flex;
        height:auto;
        background-image: url("grafik/Artboard 1.png");
        justify-content: center;
        align-items: center;
        font-size: smaller;
        }
      
    .grid-event {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        font-family: sans-serif;
        text-align: center;
        }
    
    .tickets {
        color: white;
    }    
    
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
       
        
      }
     
      .showgallery {
        padding: 0 6px;
        float: left;
        width: 32%;

      }
      
      }
      @media only screen and (max-width: 700px) {
        .showgallery {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .showgallery {
          width: 100%;
        }
      }
      
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        font-family: sans-serif;
        display: grid;
        grid-template-columns: auto auto; 
        }
    
    .social-media {
        display: grid;
        grid-template-columns:  50px 50px 50px 50px;
        align-items: center;
        justify-content: right;
        } 
    
    .sm {
    
        width: 20px;
    }
    .newsletter {
        right: 0;
        width: 50%;
        float: left;
        margin: 10px;
        font-size: 20px;
    }    
      
     .grid2 {
        font-size: 40px;
        color: white;
        }  
    
    
