

body {
    
    background-color: black;
    color: white;
    
   }

.grid-container {
    display: grid;
    grid-template-columns: 40% auto auto auto auto;
    
    padding: 10px;
    }
    .grid-item {
    
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
    }

