

body {
    
    background-color: black;
    color: white;
    
   }

.grid-container {
    display: grid;
    grid-template-columns: 40% auto auto auto auto;
    
    padding: 10px;
    }
    .grid-item {
    
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
    }

.grid-about {
justify-content: center;
display: grid;
grid-template-columns: 40% 40%

}

h1 {
font-size: 35px;

}

h2 {
    text-align: center
}


.grid-shirts {
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    
    }
    
.grid-shirts img {
    width: 100%;

}


.grid-socialmedia {
    justify-content: right;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    
    }
    
.grid-socialmedia img {
    width: 100%;

}

  
.BOTTOM {
flex-flow: row-wrap;
background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;

}